$amarelo: #fcca03;
$preto: black;
$cinza-escuro: #1e1e1e;
$cinza-claro: #353535;
$cinza-areia: #b4aea3;
$branco:white;
$roboto: 'Roboto',
sans-serif;
body {
    font-family: $roboto;
}

a {
    color: $preto !important;
    font-family: $roboto !important;
}

//informações
.information {
    background-color: $cinza-escuro;
    color: $branco;
    font-style: normal !important;
    font-size: small;
}

.info {
    padding: 5px;
}

.mid-socials {
    padding: 5px;
}
.mid-socials i{
    margin-left: 5px;
}
.phones-logo {
    background-color: $cinza-claro;
    padding-top: 10px;
    padding-bottom: 10px;
}

.phone {
    color: $branco;
    font-size: 20px;
}

.adress {
    color: $cinza-areia;
    font-size: 13px;
}

@media(min-width:768px) {
    .logo {
        display: block;
        margin-left: 7px;
    }
}

@media (max-width: 768px) {
    .logo {
        margin-bottom: 10px;
        text-align: center !important;
    }
    .align-items-center {
        justify-content: center !important;
        text-align: center !important;
    }
}

.fa-phone-nav {
    background-color: $amarelo;
    border-radius: 0px !important;
    padding-right: 3px;
    padding-left: 3px;
}

//menu
.navbar {
    background-color: $amarelo !important;
    font-size: 15px;
    padding-left: 0px;
}

@media (min-width: 992px) {
    nav div {
        margin-left: 8.5%;
    }
}

//formulario
form {
    margin-bottom: 100px;
}

.div-field {
    margin-bottom: 10px;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

.col {
    flex-basis: auto !important;
}

.btn-submit {
    color: $branco;
    float: right;
    width: 30%;
    background-color: $amarelo;
    border-radius: 0px !important;
    margin-top: 10px;
}

//telefones e email para curriculos
.contact-phones {
    margin-bottom: 25px;
}

@media (min-width: 992px) {
    .contact-work {
        max-width: 45% !important;
        margin-top: 150px;
    }
}

@media (max-width: 768px) {
    .contact-phones {
        text-align: center !important;
    }
    .email-work {
        text-align: center !important;
    }
    .icon-contact {
        justify-content: center;
        padding: 40%;
    }
}

.contact-work {
    max-width: 80%;
    align-items: center;
}

.contact {
    font-weight: bold;
    font-family: $roboto;
    color: $amarelo;
    margin-bottom: 7px;
}

div.contact-us {
    padding-top: 40px;
}

h3.contact-us {
    font-weight: bold;
}

.phones {
    color: $cinza-areia;
    font-size: 15px;
}

.curriculum {
    color: $cinza-areia;
    font-size: 15px;
}

.fa-phone-contact {
    background-color: #fcca03;
    color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.fa-users {
    background-color: $amarelo;
    color: $branco;
    padding: 10px;
}

//rodapé
footer {
    background-image: url("../img/footer-image.jpg");
}

footer .row {
    align-items: center;
}

footer img {
    margin-top: 25%;
}

footer p {
    margin-top: 10%;
    color: $cinza-areia;
}

@media (min-width: 768px) {
    footer .col-md-3 {
        margin-left: 40%;
    }
}
footer .mid-socials{
    color: $branco;
}
footer .col-md-3 {
    margin-left: 20px;
    margin-right: 20px;
}
footer i{
    margin: 5px;
}
@media (max-width: 768px) {
    footer img {
        margin-left: 10%;
    }
}

@media (min-width: 576px) {
    footer img {
        margin-left: 2%;
    }
}

footer h4 {
    font-weight: bold;
    color: $branco;
}

// bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';
